.roundCard {
  border-radius: var(--border-radius) !important;
  border: var(--border-default) !important;
  background: var(--surface) !important;
}

.roundCard .card-header,
.roundCard .card-footer {
  background-color: var(--surface);
}

.roundCard .card-body {
  color: var(--section-description);
  font-size: var(--font-size-sm);
}

.roundCard > .card-header {
  border-radius: var(--border-radius) var(--border-radius) 0 0 !important;
}

.roundCard > .card-footer {
  border-radius: 0 0 var(--border-radius) var(--border-radius) !important;
}

.card-link {
  font-weight: var(--font-weight-regular);
}

.star,
.star-fill {
  cursor: pointer;
}

.star:hover,
.star-fill:hover {
  transform: scale(1.2);
}

.star {
  color: var(--section-title);
}

.star-fill {
  color: var(--secondary-600);
}
