.textarea-themed .textarea {
  border-radius: var(--border-radius);
  border: 1px solid var(--border);
  background-color: var(--background);
  color: var(--text);
  font-size: var(--font-size-md);
  font-family: var(--font-family);
  padding: 0.75rem;
  width: 100%;
  transition: border-color 0.2s ease-in-out;
  resize: none;
}

.textarea-themed:focus {
  border: 1px solid var(--primary);
  box-shadow: none;
  outline: none;
  background-color: var(--surface);
  color: var(--text);
}

.textarea-themed::placeholder {
  color: var(--section-description);
  opacity: 0.7;
}

/* List styling */
ul {
  color: var(--text);
  font-family: var(--font-family);
  font-size: var(--font-size-sm);
  line-height: 1.2;
}

li {
  color: var(--text);
  font-family: var(--font-family);
  font-size: var(--font-size-sm);
  line-height: 1.2;
  margin-bottom: 0.3rem;
}

p {
  color: var(--text);
  font-family: var(--font-family);
  font-size: var(--font-size-sm);
  line-height: 1.2;
  margin-bottom: 0.3rem;
}

hr {
  border-color: var(--border);
  opacity: 0.3;
}
