.custom-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 0.375rem;
  border-radius: 1.25rem;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-semibold);
  gap: 0.375rem;
}

.custom-badge-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.custom-badge-icon {
  line-height: normal;
}

.custom-badge-text {
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
  text-align: left;
  line-height: 1.5;
}

.reset {
  border-radius: 0.25rem;
}

.teacher_light,
.teacher_light:focus {
  color: var(--info-700);
  background-color: var(--info-200);
  border-color: var(--info-600);
}

.teacher_light.clickable:hover,
.teacher_light.clickable.active {
  color: var(--info-700) !important;
  background-color: var(--info-300) !important;
  border-color: var(--info-600) !important;
  cursor: pointer;
}

.teacher_dark,
.teacher_dark:focus {
  color: var(--info-800);
  background-color: var(--info-200);
  border-color: var(--info-600);
}

.teacher_dark.clickable:hover,
.teacher_dark.clickable.active {
  color: var(--info-800) !important;
  background-color: var(--info-300) !important;
  border-color: var(--info-600) !important;
  cursor: pointer;
}

.keyword_light,
.keyword_light:focus {
  color: var(--gray-600);
  background-color: var(--gray-200);
  border-color: var(--gray-500);
}

.keyword_light.clickable:hover,
.keyword_light.clickable.active {
  color: var(--gray-600) !important;
  background-color: var(--gray-300) !important;
  border-color: var(--gray-500) !important;
  cursor: pointer;
}

.keyword_dark,
.keyword_dark:focus {
  color: var(--gray-700);
  background-color: var(--gray-200);
  border-color: var(--gray-600);
}

.keyword_dark.clickable:hover,
.keyword_dark.clickable.active {
  color: var(--gray-700) !important;
  background-color: var(--gray-300) !important;
  border-color: var(--gray-600) !important;
  cursor: pointer;
}

.internal_light,
.internal_light:focus {
  color: var(--amber-700);
  background-color: var(--amber-100);
  border-color: var(--amber-600);
}

.internal_light.clickable:hover,
.internal_light.clickable.active {
  color: var(--amber-700) !important;
  background-color: var(--amber-200) !important;
  border-color: var(--amber-600) !important;
  cursor: pointer;
}

.internal_dark,
.internal_dark:focus {
  color: var(--amber-800);
  background-color: var(--amber-100);
  border-color: var(--orange-600);
}

.internal_dark.clickable:hover,
.internal_dark.clickable.active {
  color: var(--amber-800) !important;
  background-color: var(--amber-200) !important;
  border-color: var(--amber-600) !important;
  cursor: pointer;
}

.external_light,
.external_light:focus {
  color: var(--amber-700);
  background-color: var(--amber-100);
  border-color: var(--amber-600);
}

.external_light.clickable:hover,
.external_light.clickable.active {
  color: var(--amber-700) !important;
  background-color: var(--amber-200) !important;
  border-color: var(--amber-600) !important;
  cursor: pointer;
}

.external_dark,
.external_dark:focus {
  color: var(--amber-800);
  background-color: var(--amber-200);
  border-color: var(--amber-600);
}

.external_dark.clickable:hover,
.external_dark.clickable.active {
  color: var(--amber-800) !important;
  background-color: var(--amber-200) !important;
  border-color: var(--amber-600) !important;
  cursor: pointer;
}

.italy_light,
.italy_light:focus,
.abroad_light,
.abroad_light:focus {
  color: var(--trueGray-600);
  background-color: var(--trueGray-100);
  border-color: var(--trueGray-500);
}

.italy_light.clickable:hover,
.italy_light.clickable.active,
.abroad_light.clickable:hover,
.abroad_light.clickable.active {
  color: var(--trueGray-600) !important;
  background-color: var(--trueGray-200) !important;
  border-color: var(--trueGray-500) !important;
  cursor: pointer;
}

.italy_dark,
.italy_dark:focus,
.abroad_dark,
.abroad_dark:focus {
  color: var(--trueGray-700);
  background-color: var(--trueGray-200);
  border-color: var(--trueGray-600);
}

.italy_dark.clickable:hover,
.italy_dark.clickable.active,
.abroad_dark.clickable:hover,
.abroad_dark.clickable.active {
  color: var(--trueGray-700) !important;
  background-color: var(--trueGray-300) !important;
  border-color: var(--trueGray-600) !important;
  cursor: pointer;
}

.type_light,
.type_light:focus {
  color: var(--yellow-700);
  background-color: var(--yellow-100);
  border-color: var(--yellow-600);
}

.type_light.clickable:hover,
.type_light.clickable.active {
  color: var(--yellow-700) !important;
  background-color: var(--yellow-200) !important;
  border-color: var(--yellow-600) !important;
  cursor: pointer;
}

.type_dark,
.type_dark:focus {
  color: var(--yellow-700);
  background-color: var(--yellow-100);
  border-color: var(--yellow-600);
}

.type_dark.clickable:hover,
.type_dark.clickable.active {
  color: var(--yellow-700) !important;
  background-color: var(--yellow-200) !important;
  border-color: var(--yellow-600) !important;
  cursor: pointer;
}

.sorting-ASC_light,
.sorting-ASC_light:focus,
.sorting-DESC_light,
.sorting-DESC_light:focus {
  color: var(--trueGray-600);
  background-color: var(--trueGray-100);
  border-color: var(--trueGray-500);
}

.sorting-ASC_light.clickable:hover,
.sorting-ASC_light.clickable.active,
.sorting-DESC_light.clickable:hover,
.sorting-DESC_light.clickable.active {
  color: var(--trueGray-600) !important;
  background-color: var(--trueGray-200) !important;
  border-color: var(--trueGray-500) !important;
  cursor: pointer;
}

.sorting-ASC_dark,
.sorting-ASC_dark:focus,
.sorting-DESC_dark,
.sorting-DESC_dark:focus {
  color: var(--trueGray-700);
  background-color: var(--trueGray-200);
  border-color: var(--trueGray-600);
}

.sorting-ASC_dark.clickable:hover,
.sorting-ASC_dark.clickable.active,
.sorting-DESC_dark.clickable:hover,
.sorting-DESC_dark.clickable.active {
  color: var(--trueGray-700) !important;
  background-color: var(--trueGray-300) !important;
  border-color: var(--trueGray-600) !important;
  cursor: pointer;
}

.success_light {
  color: var(--success-700);
  background-color: var(--success-100);
  border-color: var(--success-600);
}

.success_dark {
  color: var(--success-700);
  background-color: var(--success-100);
  border-color: var(--success-600);
}

.warning_light {
  color: var(--warning-700);
  background-color: var(--warning-100);
  border-color: var(--warning-600);
}

.warning_dark {
  color: var(--warning-700);
  background-color: var(--warning-100);
  border-color: var(--warning-600);
}

.error_light {
  color: var(--error-700);
  background-color: var(--error-100);
  border-color: var(--error-600);
}

.error_dark {
  color: var(--error-700);
  background-color: var(--error-100);
  border-color: var(--error-600);
}

.icon-italy {
  fill: var(--primary);
}

.icon-italy-badge {
  fill: var(--primary-light);
}
