.pill-button {
  position: relative;
  border-radius: 5px;
  border: 1px dashed #008ef1;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 26px;
  text-align: center;
  font-size: 16px;
  color: var(--primary-color);
  font-family: var(--font-family, 'Montserrat', sans-serif);
}
.statusdefault {
  border-radius: 6px;
  background-color: rgba(183, 225, 255, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 10px;
}
.avvisi {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.statushovered {
  border-radius: 6px;
  background-color: #b7e1ff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 10px;
}
.statusselected {
  border-radius: 6px;
  background-color: #004c81;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 10px;
  color: #fafafa;
}
