.section-title {
  color: var(--section-title);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-md);
}

.truncated {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  display: block;
}

.info-detail {
  color: var(--section-description);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-sm);
  white-space: pre-wrap;
}

.info-detail.aligned {
  margin-left: 25.5px;
}

.custom-link {
  text-decoration: none;
}

.custom-link:hover {
  color: var(--link);
}

.link-button {
  padding: 0;
  border: 0;
  background: transparent;
  color: inherit;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  text-decoration: underline;
}

.link-button:hover {
  color: var(--link);
}

.breadcrumbs_container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0;
  list-style: none;
}

.breadcrumb-item {
  align-items: center;
  color: var(--placeholder);
  display: flex;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  text-decoration: none;
}

.breadcrumb-item a {
  text-decoration: none;
}

.breadcrumb-item.active {
  color: var(--placeholder);
}

.breadcrumb-item + .breadcrumb-item::before {
  color: var(--placeholder);
  font-size: var(--font-size-sm);
}

.breadcrumb-item a:hover {
  text-decoration: underline;
}

.breadcrumb-back-link {
  color: var(--placeholder);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  margin-bottom: 1rem;
  text-decoration: none;
}

.breadcrumb-back-link:hover {
  color: var(--link);
}

@media (max-width: 576px) {
  .breadcrumb-long {
    display: none;
  }
  .separator {
    display: none;
  }
}

.pol-headline.pol-headline--with-bar > h3:before {
  content: '';
  width: 50px;
  height: 5px;
  background: #ef7b02;
  display: block;
  margin-bottom: 15px;
  margin-top: 10px;
}

@media (max-width: 576px) {
  .info-detail.aligned {
    margin-left: 0;
  }
}
