.proposals-container {
  padding: 0rem 0.75rem 2rem 0rem;
}

.filters-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.filters-section {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0.5rem;
}

.filters-title {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  color: var(--section-title);
  gap: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.filters-title .reset {
  color: var(--primary-500);
}

.applied-filters-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
  position: relative;
}

.badge-group {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  flex: 1;
}

.reset-button-container {
  margin-left: auto;
  margin-top: auto;
}

@media (max-width: 768px) {
  .applied-filters-container {
    align-items: stretch;
    flex-direction: column;
  }
}
