.custom-content {
  transition-duration: 0.5s;
  background-color: var(--background);
  border-radius: var(--border-radius-left);
  border: var(--border-default);
  margin-left: var(--sidebar-width);
  margin-right: var(--margin-default);
  margin-top: 5.5rem;
  overflow-y: auto;
  padding: 1.5rem 2rem 0 2rem;
}

.custom-content.minimized {
  margin-left: var(--sidebar-width-reduced);
}

@media (max-width: 991px) {
  .custom-content {
    padding: 1rem 1rem 0 1rem;
  }

  .custom-content.reduced {
    margin-left: var(--sidebar-width-reduced);
    margin-right: 0px; /* scrollbar is not visible anymore */
  }
}

@media (max-width: 850px) {
  .detail-title {
    min-width: 100%;
    margin-bottom: 1px;
  }

  .detail-row {
    flex-wrap: wrap;
  }
}

@media (max-width: 575px) {
  .custom-content {
    padding: 1rem 0 0 0;
  }

  .custom-content.reduced {
    border-top-left-radius: 0px;
    margin-left: var(--no-margin-mobile);
    margin-right: var(--no-margin-mobile);
  }
}

body {
  background-color: var(--surface);
  font-size: var(--font-size-xs);
  height: 100%;
  margin: 0;
  padding: 0;
}

.hr-light {
  border: 0;
  height: 1px;
  background-color: var(--gray-300);
  opacity: 1;
}

.hr-dark {
  border: 0;
  height: 1px;
  background-color: var(--primary-800);
  opacity: 1;
}

.straight-line {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  background: var(--background);
  height: 4px;
}

.list-group-item-action:hover {
  border-color: var(--primary-50);
  background-color: var(--primary-50);
}

.list-group-item-action:focus {
  background-color: var(--primary-500);
  color: var(--white);
}

.medium-weight {
  font-weight: var(--font-weight-medium);
}

.bold-weight {
  font-weight: var(--font-weight-bold);
}

.form-control:focus {
  border-color: var(--primary);
  border-width: 2px;
  box-shadow: none;
}

.card-container {
  max-width: none;
}

.no-break {
  display: inline-block;
  white-space: nowrap;
}

.floating-button {
  position: fixed;
  z-index: 1000;
  right: 1rem;
  bottom: 1rem;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 0.25rem;
  border-width: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    background-color 0.3s,
    opacity 0.5s,
    visibility 0.5s;
  padding: 0;
}

.floating-button-light {
  background-color: var(--primary-700);
  border-color: var(--primary-700);
  color: var(--white);
}

.floating-button-light:hover {
  background-color: var(--text-700);
}

.floating-button-light:active {
  background-color: var(--text-400) !important;
}

.floating-button-dark {
  background-color: var(--white);
  border: 1px solid var(--primary-700);
  color: var(--primary-700);
}

.floating-button-dark:hover {
  background-color: var(--text-300);
  border: 1px solid var(--primary-700);
  color: var(--primary-700);
}

.floating-button-dark:active {
  background-color: var(--text-500) !important;
  border: 1px solid var(--primary-700) !important;
  color: var(--primary-700) !important;
}

@media (max-width: 1200px) {
  .floating-button {
    bottom: 0.625rem;
    right: 0.625rem;
    width: 2rem;
    height: 2rem;
  }
}

.badge.squared-badge-light {
  background-color: var(--white) !important;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 3px 7px;
}

.badge.squared-badge-dark {
  background-color: var(--surface) !important;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 3px 7px;
}

.btn-light {
  font-weight: var(--font-weight-medium);
  border: var(--border-default);
  border-color: var(--gray-200) !important;
  border-radius: 3px !important;
  background-color: var(--gray-100) !important;
  color: var(--text-700) !important;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.btn-light:hover {
  background-color: var(--gray-200) !important;
}

.btn-light:active {
  border-color: var(--primary-50) !important;
  background-color: var(--primary-50) !important;
  box-shadow: none !important;
  color: var(--primary-700) !important;
}

.btn-light.disabled {
  border-color: var(--gray-100) !important;
  background-color: var(--gray-100) !important;
  color: var(--text-400) !important;
}

.btn-dark {
  font-weight: var(--font-weight-medium);
  border: var(--border-default);
  border-color: var(--primary-800) !important;
  border-radius: 3px !important;
  background-color: var(--primary-700) !important;
  color: var(--white) !important;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.btn-dark:hover {
  background-color: var(--primary-800) !important;
  color: var(--white) !important;
}

.btn-dark:active {
  border-color: var(--primary-100) !important;
  background-color: var(--primary-100) !important;
  box-shadow: none !important;
  color: var(--primary-700) !important;
}

.btn-dark.disabled {
  border-color: var(--text-100) !important;
  background-color: var(--text-100) !important;
  color: var(--text-400) !important;
}

.btn-outlined-light {
  font-weight: var(--font-weight-medium);
  border: var(--border-default);
  border-color: var(--gray-300) !important;
  border-radius: 3px !important;
  background-color: transparent !important;
  color: var(--text-600) !important;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.btn-outlined-light:hover {
  background-color: var(--gray-100) !important;
}

.btn-outlined-light.active,
.btn-outlined-light:active {
  border-color: var(--primary-200) !important;
  background-color: var(--primary-50) !important;
  box-shadow: none !important;
  color: var(--primary-700) !important;
}

.btn-outlined-light.disabled {
  border-color: var(--gray-300) !important;
  background-color: transparent !important;
  color: var(--text-400) !important;
}

.btn-outlined-dark {
  font-weight: var(--font-weight-medium);
  background-color: transparent !important;
  border: var(--border-default);
  border-color: var(--white) !important;
  border-radius: 3px !important;
  color: var(--white) !important;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.btn-outlined-dark:hover {
  background-color: var(--primary-700) !important;
}

.btn-outlined-dark.active,
.btn-outlined-dark:active {
  border-color: var(--primary-500) !important;
  background-color: var(--primary-100) !important;
  box-shadow: none !important;
  color: var(--primary-700) !important;
}

.btn-outlined-dark.disabled {
  border-color: var(--text-400) !important;
  background-color: transparent !important;
  color: var(--text-400) !important;
}

.btn-primary-light {
  font-weight: var(--font-weight-medium);
  border: var(--border-default);
  border-color: var(--primary-500) !important;
  border-radius: 3px !important;
  background-color: var(--primary-500) !important;
  color: var(--text-50) !important;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.btn-primary-light:hover {
  background-color: var(--primary-600) !important;
  border-color: var(--primary-600) !important;
}

.btn-primary-light.active,
.btn-primary-light:active {
  border-color: var(--primary-700) !important;
  background-color: var(--primary-600) !important;
  box-shadow: none !important;
}

.btn-primary-light.disabled {
  border-color: var(--gray-100) !important;
  background-color: var(--gray-100) !important;
  color: var(--text-400) !important;
}

.btn-primary-dark {
  font-weight: var(--font-weight-medium);
  border: var(--border-default);
  border-color: var(--primary-500) !important;
  border-radius: 3px !important;
  background-color: var(--primary-500) !important;
  color: var(--text-50) !important;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.btn-primary-dark:hover {
  background-color: var(--primary-600) !important;
  border-color: var(--primary-600) !important;
}

.btn-primary-dark.active,
.btn-primary-dark:active {
  border-color: var(--primary-700) !important;
  background-color: var(--primary-600) !important;
  box-shadow: none !important;
}

.btn-primary-dark.disabled {
  border-color: var(--gray-100) !important;
  background-color: var(--gray-100) !important;
  color: var(--text-400) !important;
}

.modal-xxl .modal-content {
  max-width: 70vw;
  min-width: 550px;
  margin: auto;
  display: flex !important;
}

.btn-light.btn-header {
  font-size: var(--font-size-xs);
  height: 1.5rem;
  min-height: 1.5rem;
  padding: 0 0.5rem;
  line-height: 1;
  gap: 0.25rem;
}

.btn-dark .btn-header {
  font-size: var(--font-size-xs);
  height: 1.5rem;
  min-height: 1.5rem;
  padding: 0 0.5rem;
  line-height: 1;
  gap: 0.25rem;
}

/*scrollbar si vede solo se sopra brakpoint lg*/
@media (max-width: 991px) {
  ::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 991px) {
  .modal-xxl .modal-content {
    max-width: 90vw;
    min-width: unset;
    margin: auto;
  }
}

@media (max-width: 991px) {
  .conclusion-process.modal-dialog,
  .conclusion-process .modal-dialog {
    max-width: 95vw;
    width: 95vw;
    margin: 1rem auto;
  }
}

@media (max-height: 700px) {
  .modal-xxl .modal-content {
    max-height: 90vh;
    overflow: auto;
  }
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #f3f5f7;
}

*::-webkit-scrollbar-track:hover {
  background-color: #f3f5f7;
  width: 13px !important;
}

*::-webkit-scrollbar-track:active {
  background-color: #f3f5f7;
}

*::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(239, 84, 0, 0.61);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(239, 84, 0, 0.771);
  width: 13px !important;
}

*::-webkit-scrollbar-thumb:active {
  background-color: rgba(239, 84, 0, 0.771);
}
