:root {
  --sidebar-bg-active: rgba(187, 212, 230, 0.5);
  --sidebar-link: var(--text-700);
  --sidebar-link-hover: var(--text-700);
  --sidebar-link-active: var(--primary-700);
  --sidebar-strip: var(--primary-700);

  --background: var(--background-light);
  --border-color: var(--gray-300);
  --surface: var(--surface-light);
  --primary: var(--primary-700);
  --text: var(--black);
  --section-title: var(--text-800);
  --section-description: var(--text-600);
  --placeholder: var(--text-700);
  --link: var(--primary-500);
  --dropdown-border: var(--gray-300);
  --dropdown-outlined-border: var(--gray-300);
  --dropdown-color: var(--text-600);
  --dropdown-hover: var(--gray-200);
  --custom-dropdown-border: var(--gray-200);
  --custom-dropdown-bg: var(--gray-100);
  --custom-dropdown-hover: var(--gray-200);
  --custom-dropdown-color: var(--text-700);
  --text-muted: var(--text-500);

  /* Font Family */
  --font-primary: 'Montserrat', sans-serif;

  /* Font Weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;

  /* Font Sizes */
  --font-size-2xs: 0.625rem; /* 10px */ /* fa-2xs */
  --font-size-xs: 0.75rem; /* 12px */ /* fa-xs */
  --font-size-sm: 0.875rem; /* 14px */ /* fa-sm */
  --font-size-md: 1rem; /* 16px */ /* fa normale */
  --font-size-lg: 1.125rem; /* 18px */
  --font-size-xl: 1.25rem; /* 20px */ /* fa-lg */
  --font-size-2xl: 1.5rem; /* 24px */ /* fa-xl */
  --font-size-3xl: 1.875rem; /* 30px */
  --font-size-4xl: 2.25rem; /* 36px */
  --font-size-5xl: 3rem; /* 48px */
  --font-size-6xl: 3.75rem; /* 60px */
  --font-size-7xl: 4.5rem; /* 72px */
  --font-size-8xl: 6rem; /* 96px */
  --font-size-9xl: 8rem; /* 128px */

  /* Border Radius */
  --border-radius: 0.5rem;
  --border-radius-list: 0.375rem;
  --border-radius-left: 0.5rem 0rem 0rem 0rem;
  --border-radius-button: 0.1875rem;
  --border-default: 1px solid var(--border-color);
  --border-default-hover: 1px solid var(--text-300);

  --margin-default: 0.5rem;
  --no-margin-mobile: 0rem;

  --sidebar-width: 14rem;
  --sidebar-width-reduced: 5.25rem;
}

/* Dark Theme Colors */
[data-theme='dark'] {
  --sidebar-bg-active: var(--primary-50);
  --sidebar-link: var(--text-300);
  --sidebar-link-hover: var(--primary-700);
  --sidebar-link-active: var(--primary-700);
  --sidebar-strip: var(--primary-500);
  --border-color: var(--primary-800);
  --background: var(--background-dark);
  --surface: #143959;
  --primary: var(--white);
  --text: var(--white);
  --section-title: var(--text-100);
  --section-description: var(--text-300);
  --placeholder: var(--text-400);
  --link: var(--primary-50);
  --dropdown-border: var(--primary-700);
  --dropdown-outlined-border: var(--white);
  --dropdown-color: var(--white);
  --dropdown-hover: var(--primary-700);
  --custom-dropdown-border: var(--primary-800);
  --custom-dropdown-bg: var(--primary-700);
  --custom-dropdown-hover: var(--surface);
  --custom-dropdown-color: var(--white);
  --text-muted: var(--white);

  input[type='search']::-webkit-search-cancel-button {
    filter: invert(1) saturate(0);
  }

  .btn-close {
    filter: var(--bs-btn-close-white-filter);
  }

  .form-select {
    --bs-form-select-bg-img: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23dee2e6' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3E%3C/svg%3E");
  }
}
