html {
  overflow-x: hidden;
}

p {
  margin-bottom: 4px;
  margin-left: 0px;
}

a {
  color: inherit;
  word-break: break-word !important;
}

body {
  margin: 0;
  padding: 0 !important;
  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.modal.show .modal-dialog:not([class*='modal-fullscreen']) {
  min-height: calc(100% - var(--bs-modal-margin) * 2);
  display: flex;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
